html, body {
    height: 100%;
  }
  
  /* Top of Page Elements */
  h1 {
    text-align: center;
  }
  
  .navbar {
    padding: 0px;
  }
  
  #nav-row {
    justify-content: center;
    position: relative;
    top: 65%;
  }
  
  nav {
    border: 2px solid rgba(52, 58, 64, 0.5);
    border-radius: 5px;
  }
  
  #jumbo {
    background-image: url("assets/images/spark.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    height: 350px;
    width: 100%;
    padding: 50px;
    box-shadow: black;
    border-radius: 5px;
  }
  
  /* Middle of Page Elements */
  
  body {
    padding: 5px;
    background-color: #dfcaae;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1 0 auto;
    overflow-y: auto;
  }
  
  #bio-text {
    padding: 20px;
    background-color: #e5e5e5;
    border-radius: 5px;
    margin-top: 60px;
   
  }
  
  #portfolio {
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  #contact {
    margin-top: 40px;
    margin-bottom: 75px;
  }
  
  #contactform {
    background-color: rgba(52, 58, 64, 1);
    border-radius: 5px;
    color: whitesmoke;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 5px 10px 8px #888;
  }
  
  #city-img {
    margin: 0 auto;
    width: 50%;
  }
  
  #about-me {
    text-align: center;
    height: 700px;
  }
  
  img {
    border-radius: 5px;
  }
  
  #copyright {
    text-align: center;
    padding: 20px;
  }
  
  #gala {
    height: 500px;
    width: auto;
  }
  
  /* Bottom of Page Styling */
  
  footer {
    background-color: #9c9a9a;
    flex-shrink: 0;
    padding: 5px;
  
  }
  
  /* General Styling */
  
  .box-shadow {
    box-shadow: 5px 10px 8px #888;
  }
  
  .btn-dark {
    color: white !important;
  }
  
  .responsive {
      width: 100%;
      height: auto;
  }
  
  .margin-top-20 {
    margin-top: 20px;
  }
  
  .padding-20 {
    padding: 20px;
  }
  
  .padding-0 {
    padding: 0px;
  }
  
  .btn {
    margin: 10px;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Media Queries */
  
  @media only screen and (max-width: 600px) {
    #gala {
      height: 250px;
  
  }
  #portfolio-row {
    flex-direction: row;
  }
  
  @media only screen and (max-width: 768px) {
    #portfolio-row { 
      flex-direction: column;
   }
  }